*{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

body{
    background-color: #15151e;
}

header{
    width: 100vw;
    height: 90px;
    background-color: #15151e;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 300px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.6);
}

header > img {
    height: 105px;
    margin-left: 100px;
}

header > nav {
    height: 90px;
    width: 50vw;
    display: flex;
}

header > nav > ul{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding-bottom: 10px;
}

header > nav > ul > a {
    text-decoration: none;
    color: #8e8e8e;
}

.active{
    color: white;
    font-weight: bold;
    border-bottom: 1px solid white;
}

/* fim do header */

/* inicio da main */
main{
    background-color: green;
}

section{
    background-color: red ;
}




